# This `.env` file will be read by `go-task`, not
# the application code.

# Application
# internal/config/config.go
PORT=48080
DATABASE_URL=postgres://postgres:postgres@postgres:5432/brevity?sslmode=disable
# An AES key used for encrypting/decrypting sensitive data. Must be 32 characters.
ENCRYPTION_KEY=MO9bZ88kRNR23Yy6qIRfLqrA5R43cP0u
LLM_API_KEY=

# OpenTelemetry SDK
# https://opentelemetry.io/docs/specs/otel/configuration/sdk-environment-variables/
OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4318
OTEL_SERVICE_NAME=brevity-go
OTEL_LOGS_EXPORTER=otlp
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_TIMEOUT=5000

# Gin
# https://gin-gonic.com/en/docs/deployment/#configuration-options
GIN_MODE=debug