SERVER_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:45432/brevity?sslmode=disable
LLM_BASE_URL=http://localhost:1337/v1/
LLM_MODEL_ID=
LLM_API_KEY=
ENCRYPTION_KEY=MO9bZ88kRNR23Yy6qIRfLqrA5R43cP0u
OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4318